[Unit]
Description=git-auto-commiter (GAC) daemon
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/matthewnesbitt/gitrepos/git-auto-commiter/src/gacmain.py
Restart=always
User=matthewnesbitt
WorkingDirectory=/home/matthewnesbitt/gitrepos/git-auto-commiter
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

